pytest>=9.1.1
pytest-asyncio>=1.4.0
setuptools>=65.7.0
pytest-homeassistant-custom-component==0.13.367
homeassistant==2026.9.4
span-panel-api==3.6.2
span-panel-api-schema-0==1.2.0
span-panel-api-schema-1==1.2.2
